{% include 'face_detection/base.html' %}
{% block content %}
    <p class="txt_face" style="font-size: 35px; color: #A9CCC8;">Take a photo: </p>
    <a href="/detection" class="btn btn-info" role="button" style="margin-left: 254px; background-color: #A9CCC8;border: white;">Capture</a>
    <p class="txt_face" style="font-size: 35px; color: #A9CCC8;">Capture a video: </p>
    <a href="/detectionVideo" class="btn btn-info" role="button" style="margin-left: 250px; background-color: #A9CCC8; border: white;">Capture</a>

{% endblock content %}