{% include 'face_detection/base.html' %}
{% block content %}
    <p class="txt_face">Ukoliko želite da napravite fotografiju: </p>
    <a href="/detection" class="btn btn-info" role="button" style="margin-left: 254px; background-color: #A29574;border: white;">Slikaj</a>
    <p class="txt_face">Ukoliko želite da napravite video: </p>
    <a href="/detectionVideo" class="btn btn-info" role="button" style="margin-left: 250px; background-color: #A29574; border: white;">Snimaj</a>

{% endblock content %}