{% include "face_detection/main.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url "homepage" %}">Welcome, {{request.user}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={% url "homepage" %}>Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url "detect" %}">Detect <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "logout" %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>

   <br>
    <canvas id="CANVAS" name="CANVAS" width="400" height="350">Your browser does not support Canvas.</canvas>


    <div id="container"  name='cont' class="container-fluid no-padding ">
       <video autoplay="true" id="videoElement" name='vid'>

       </video>
    </div>

    <a id="download" download="face.jpg"></form>
    <button onclick="myFunction(); download();" align="center" style="margin: 20px 250px auto " class="btn btn-primary dropdown-toggle" type="button" >capture</button></a>

    <script>

        function download(){
            var download = document.getElementById("download");
            var image = document.getElementById("CANVAS").toDataURL("image/png")
                    .replace("image/jpg", "image/octet-stream");
                download.setAttribute("href", image);
        //download.setAttribute("download","archive.png");
        }

        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia)
        {
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function(stream) {
                    video.srcObject = stream;
                })
            .catch(function(err0r) {
                console.log("Something went wrong!");
            });
            var i=0;
            function myFunction() {
                var x =  document.getElementById("CANVAS") ;
                var ctx = x.getContext("2d");
                ctx.fillStyle = "#ff0000";

                ctx.drawImage(video, 0, 0, 400, 350);

                //ctx.fillRect(20, 20, 150, 100);

                if (i <10)
                {
                    document.body.appendChild(x);
                    i=i+1;
                };


            }

        }
    </script>
    <br>
{% endblock %}
