{% include "face_detection/main.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url "homepage" %}">Welcome, {{request.user}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={% url "homepage" %}>Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url "detect" %}">Detect <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "logout" %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>

   <br>
    <div class="container">
        <div class="w3-row">
            <div class="w3-col m8">
                <div id="mywebcam"></div>
                <p>
                    <button onclick="takescreenshot()" class="w3-button w3-blue">Take snapshot</button>
                </p>
            </div>
            <div class="w3-col m4">
                <div id= "results">Your captured image here:</div>
            </div>
        </div>
    </div>

    <script src="{% static "js/webcam.min.js" %}"></script>
    <script>
        Webcam.set({
            width: 600,
            height: 400,
            image_format: 'jpeg',
            jpeg_quality: 90
        });

        Webcam.attach('#mywebcam');

        function takescreenshot(){
            Webcam.snap(function(data_url){
                document.getElementById('results').innerHTML = "<h2> Here is your image: </h2><img width='300' src='"+data_url+"'>";
            })
        }
    </script>
    <br>
{% endblock %}
