{% include "face_detection/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <br>
  <h2>Previous detections of user</h2>
   <br>
   <form method="GET">
      {{my_filter.form}}
      <button type="submit" class="btn btn-primary" style="background: #D0B3AD ;color:#ffffff">Search</button>
    </form>
    <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File name</th>
        <th>File type</th>
        <th>Number of detected faces</th>
        <th>Date</th>
        <th>Time</th>
        <th>Size of the file</th>
      </tr>
    </thead>
    <tbody>
      {% for det in detections %}
      <tr>
        <td>{{ det.file_name }}</td>
        <td>{{ det.file_type }}</td>
        <td>{{ det.detected_faces }}</td>
        <td>{{ det.date}}</td>
        <td>{{ det.time }}</td>
        <td>{{ det.size }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>

